/* Styles for the authentication section (background and layout). */

.auth-section {
    width: 100% !important;
    max-width: unset !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url("../../assets/images/heroImage/heroImage.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    background: rgba( 255, 255, 255, 0.3 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}