.main {
    height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
}

.hero-section {
    width: 100%;
    position: relative;
}

.hero-title {
    width: 100%;
    margin-bottom: 20px !important;
    text-align: center;
    font-size: 59px !important;
    max-width: 700px;
    color: #fff;
}

.hero-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.3 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-height: 100vh;
    padding: 20px;
}

.hero-image {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/heroImage/heroImage.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    width: 100%;
    font-size: 19px !important;
    text-align: center;
    max-width: 500px;
    color: #fff;
}

@media only screen and (max-width: 1200px) {
    .hero-title {
        max-width: 500px;
    }

    .hero-text {
        font-size: 17px !important;
    }

    .hero-title {
        font-size: 41px !important;
    }
}

@media only screen and (max-width: 500px) {
    .hero-text {
        font-size: 15px !important;
    }

    .hero-title {
        font-size: 31px !important;
    }
}