/* Styles for the header element. */

header {
    position: relative !important;
    z-index: 999;
}

.navbar {
    height: 64px;
    background: rgba( 255, 255, 255, 0.1 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logo-box img {
    width: 70px;
    height: auto;
}

.logo-box {
    margin-right: 10px;
}

@media only screen and (max-width: 450px) {
    header .app-name {
        display: none;
    }

    header > div {
        display: flex;
        justify-content: space-between;
    }
}